@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #f5f0f0;
  --accent-background: #090303;
  --primary-paragraphs: #3a3a3a;
  --accent-paragraphs: #3a3a3a;
  --primary-headings: #2d2d2d;
  --accent-headings: #2d2d2d;
  --primary-details: #2d2d2d;
  --accent-details: #2d2d2d;
}

body {
  background-color: var(--primary-background);
}

@media (min-width: 500px) {
  .box {
    background: red;
  }
}

@layer components {
  li {
    @apply text-gray-400 hover:text-gray-500;
  }
}
@media (min-width: 768px) {
  .embla__slide {
    flex: 1 0 33.333%; /* Three slides per view */
  }
}
@media (min-width: 1024px) {
  /* Large screens */
  .embla__slide {
    flex: 1 0 33.333%; /* Three slides per view */
  }
}

/* Carousel */
.embla {
  margin: 3rem auto 1rem auto;

  --slide-height: auto;
  --slide-spacing: 1rem;
  --slide-size: 80%;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  max-height: 90vh;
}
.embla__viewport {
  overflow: hidden;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
  overflow: hidden;
  justify-self: center;
  /* margin: auto; */
}
.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%; /* Each slide covers 80% of the viewport */

  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 90vh;
  overflow: hidden;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto; /* Adapt slide size to its content */
  min-width: 0;
  max-width: 100%;
  width: 75rem;
  height: auto;
  margin: 0 auto;
  min-width: 50%;
  padding-left: var(--slide-spacing);
  position: relative; /* Needed for Next.js Image fill */
  overflow: hidden;
}

.embla__slide__img {
  border-radius: 0.5rem;
  display: block;
  /* height: var(--slide-height); */
  /* height: auto; */
  object-fit: cover;
  overflow: hidden;
  margin: auto;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__slide__img {
  user-select: none;
}

/* 
@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* #__next {
  height: 100%;
} */
