@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #f5f0f0;
  --accent-background: #090303;
  --primary-paragraphs: #3a3a3a;
  --accent-paragraphs: #3a3a3a;
  --primary-headings: #2d2d2d;
  --accent-headings: #2d2d2d;
  --primary-details: #2d2d2d;
  --accent-details: #2d2d2d;
}

body {
  background-color: var(--primary-background);
}

@media (min-width: 500px) {
  .box {
    background: red;
  }
}

@layer components {
  li {
    @apply text-gray-300 hover:text-gray-500;
  }
}
/* 
@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* #__next {
  height: 100%;
} */
